<div class="relative w-full pb-4 md:pb-12 mb-4 md:mb-12">
    <!-- The image -->
    <img src="assets/all-products-lg.webp" alt="Food Image" class="w-full object-cover md:rounded-r-xl h-full md:h-auto hidden md:block">
    <img src="assets/all-products-sm.webp" alt="Food Image" class="w-full object-cover md:rounded-r-xl h-full md:h-auto block md:hidden">
  
    <!-- The text overlay -->
    <div class="absolute inset-0 flex items-end md:items-center justify-start">
      <p class="text-white text-md md:text-4xl font-semibold p-2 rounded-lg m-2 md:m-8">
        All Products
      </p>
    </div>
  </div>
