<div>
    <ul class="grid grid-cols-3 gap-5 bg-white">
        <li *ngFor="let product of products" class="mb-8">
            <a routerLink="/">
                <img [src]="product.imageUrl" alt="">
            </a>
            <!-- <p>{{product.stars}}</p> -->
            <div class="flex flex-col gap-1 py-4">
                <app-star-rating></app-star-rating>
                <p class="text-xl font-medium">{{product.name}}</p>
                <p class="text-xl font-normal">${{product.price}}</p>

            </div>
        </li>
    </ul>
</div>