<header>
    <div class="flex justify-between my-2 border-b-2 py-4">
        
        <div>
            <nav>
                <ul class="flex gap-6">
                    <li class="relative">
                        <a routerLink="">Shop</a>
                        
                    </li>
                    <li class="relative">
                        <a routerLink="">Explore</a>
                        <!-- <div class="absolute grid gap-2 p-2 text-start w-28 bg-gray-200">
                            <a routerLink="">Profile</a>
                            <a routerLink="">Orders</a>
                            <a routerLink="">Logout</a>
                        </div> -->
                    </li>
                    <li>
                        <a routerLink="">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="">
            <a routerLink="/" class="font-bold">Desk Setup</a>
        </div>
        <div>
            <nav>
                <ul class="flex gap-4 mr-6">
                    <li>
                        <a routerLink="">Login</a>
                    </li>
                    <li class="relative">
                        <a routerLink="">Juan</a>
                        <div class="absolute top-10 grid gap-2 p-2 text-start w-28 bg-gray-200">
                            <a routerLink="">Profile</a>
                            <a routerLink="">Orders</a>
                            <a routerLink="">Logout</a>
                        </div>
                    </li>
                    <li>
                        <a routerLink="" class="relative">Cart <span class="absolute left-6 top-2 bg-orange-600 rounded-full px-1 text-xs text-white">3</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>